
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.6rem;
}

.cabecalho {
    padding: 30px 15px;
    position: relative;
}

.cabecalho .logo {
    background: url(../img/logo.jpg) center center no-repeat;
    width: 85px;
    height: 85px;
    display: inline-block;
}

.cabecalho .logo h1 {
    font-size: 0;
}

.cabecalho nav {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 30px;
}

.cabecalho ul li {
    display: inline-block;
    padding: 15px;
}

.cabecalho ul li a {
    font-weight: 400;
    font-family: 'Source Serif Pro', serif;
}

.cabecalho ul li a:hover {
    color: orange;
}

.painel {
    background: url(../img/painel.jpg) center center no-repeat;
    height: 500px;
}

.painel h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.secao-com-texto {
    padding: 153px;
    text-align: center;
    clear: both;
}

.secao-com-texto img {
    width: 180px;
    height: 180px;
    margin-bottom: 78px;
    margin-top: 30px;
}

.secao-com-texto h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 37px;
}

.secao-com-texto p {
    font-size: 18px;
    width: 702px;
    margin: 0 auto;
}

.secao-com-texto.onde-estamos p {
    font-size: 28px;
    width: 480px;
}

.ladrilho div {
    float: left;
}

.ladrilho .grande {
    background: url(../img/4.jpg) center center no-repeat;
    height: 600px;
    width: 50%;
}

.ladrilho .pequeno {
    background: url(../img/3.jpg) center center no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilho .pequeno.grao {
    background: url(../img/2.jpg) center center no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilho .medio {
    background: url(../img/1.jpg) center center no-repeat;
    height: 300px;
    width: 50%;
}

.contato {
    background: url(../img/fundo-contato.jpg) center center no-repeat;
    background-size: cover;
    color: black;
    height: 600px;
    position: relative;
    margin-bottom: 30px;
    clear: both;
}

.contato h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contato address {
    font-size: 25px;
    font-weight: 600;
}

.contato .texto {
    position: absolute;
    top: 30%;
    left: 50%;
}

.rodape{
    background-size: cover;
    background: url(../img/fundo-rodape.jpg) center center no-repeat;
    background-size: cover;
    padding: 35px 30px;
}
.rodape ul {
    float: right;
    margin-top: 30px;
}

.rodape ul li {
    display: inline-block;
    padding: 15px;
}

.rodape ul .links {
    color: orange;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Source Serif Pro', serif;
}

.rodape ul li a:hover {
    color: #fff;
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;
}

/* .rodape .logo-de-baixo{
    right: 88px;
    width: 15%;
    position: relative;
    right: 70px;
    margin-bottom: 70px;
} */
.rodape .copyright {
    color: orange;
    font-family: 'Source Serif Pro', serif;
}
.rodape .redes-sociais .facebook,
.rodape .redes-sociais .instagram{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.rodape .redes-sociais{
    float: right;
    clear: both;
}
.rodape .conteudo-de-baixo{
    margin-top: 40px;
}